.image{
  width:250px;
  height: 250px;
  background-image: url('/assets/images/githubIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 25%;
}
.image img{
  width:250px;
  height: 250px;
}
.row{
  margin-bottom: 3rem;
}
.profile-info{
  text-decoration: none;
  margin-left: 1rem;
}
input{
  padding:1.5rem;
  margin-right: 15%;
  margin-left: 15%;
  width: 70%;
  margin-top: 1rem;
}
.col-md-1{
  border-left: 2px solid black;
}
#repos{
  float: right;
  margin-right: 40%;
}
#profile{
  margin-left: 5%;
}
#name-title{
  text-align: center;
  font-size: 2rem;
}
#git-name{
  color: #000000;
}
@media screen and (max-width: 900px) {
  .col-md-1{
    border-left: 0px solid #d8e3e3;
  }
}