input{
  padding:1.5rem;
  margin-right: 15%;
  margin-left: 15%;
  width: 70%;
  margin-top: 1rem;
}
#repo-link{
  text-decoration: underline;
  text-decoration-color:blue;
  color: blue;
}
#repo-title{
  margin-left: 40%;
}
.table{
  padding: 2rem; 
  margin-left: 10%;
  margin-right: 10%;
  width: 80%; 
  color: black;
}
th{
  font-size: 1.3rem;
}
td{
  font-family: 'Patrick Hand', cursive;
  font-size: 1.5rem;
}
.card-block{
  background-image: url('/assets/images/infinite.jpeg');
  background-position: center;
}
#repos{
  float: right;
  margin-right: 5%;
}
#home{
  margin-left: 5%;
}
#intro{
  color: #d8e3e3;
  text-align: center;
  font-size: 1.5rem;
}
.row{
  margin-bottom: 3rem;
}