input {
  padding: 1.5rem;
  margin-right: 15%;
  margin-left: 15%;
  width: 70%;
  margin-top: 1rem;
}

#repo-link {
  text-decoration: underline;
  text-decoration-color: blue;
  color: rgb(13, 138, 138);
}

#repo-title {
  margin-left: 40%;
}

.table {
  padding: 2rem;
  width: 90%;
  margin: auto;
  color: black;
}

td {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#repos {
  float: right;
}

.row {
  margin-bottom: 3rem;
}