<!-- panel to card or sth -->
<div *ngIf='profile' class="pt-3">
  <div class="container">
    <div class="panel-heading">
      <p>
        <strong>User Name: </strong>{{profile.name}} <small>({{profile.login}}). </small> <span
          *ngIf="profile.company">, Works at
          {{profile.company}}</span> <strong> Location: </strong> <span
          *ngIf="profile.location">{{profile.location}}</span>
      </p>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <img src="{{profile.avatar_url}}" alt="User profile picture" class="img-rounded img-responsive">
        </div>
        <div class="col-md-4">
          <ul class="list-group">
            <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
            <li class="list-group-item" *ngIf="profile.hireable">Available for hire</li>
            <!-- a link for email -->
            <li class="list-group-item" *ngIf="profile.email">{{profile.email}}</li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</div>